<h2>Homepage</h2>

      <nav>
        <ul>
            <% if (!currentUser) { %>
                <li><a href="/auth/signup">Signup</a></li>
                <li><a href="/auth/login">Login</a></li>
              <% } else { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
              <% } %>
            </ul>
          </nav>

<header class="vertical-center">
    <div>
        <h1><a href="">Strava Stats</a></h1>
        <h2>Get outdoors</h2>
    </div>
</header>