
      <nav>
        <ul>
            <% if (!currentUser) { %>
                <!-- <li><a href="/auth/signup">Signup</a></li> -->
                <li><a href="/auth/strava">Sign in with Strava</a></li>
              <% } else { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
              <% } %>
            </ul>
          </nav>

<header class="vertical-center">
    <div>
        <h1 class="blue-text"><a href="">Be Proud Dashboard</a></h1>
        <h2>Your Year in Review</h2>
    </div>
</header>