<nav>
    <ul>
        <li><a href="/auth/logout">Logout</a>
            <li><a href="/activities">Activities</a>
    </ul>
</nav>
    



<!-- pull activity data and look through -->

<section class=" profile">
    <div class="data-container">
        <div class="row">
            <div class="profileHeader">
            <span class='margin-top skew-title'> Be Proud Dashboard</span>
            </div>
            <div class='margin-top'>
                <div class="profileDetails col s12">
                    <!-- src will be updated from the DB -->
                    <p><img class="profile-pic" src="<%= profileImage %>"></p>
                    
                </div>
                
                <h3>This Year</h3>
                    <div class="col s12 m12 l4">
                        <p class='stats'>I ran</p>
                        <!-- total miles ran -->
                        <p class='dataLg'><%= Math.floor(yearTotals.ytd_run_totals.distance / 1609) %></p>
                        <p class='stats'>miles </p>
                    </div>
                    <div class="col s12 m12 l4">
                        <p class='stats'>Elevation climbed</p>
                        <p class='dataLg'><%= yearTotals.ytd_ride_totals.elevation_gain %></p>
                        <p class='stats'> feet on my bike</p>
                    </div>
                    <div class="col s12 m12 l4">
                        <p class='stats'>I swam</p>
                        <p class='dataLg'><%= yearTotals.ytd_swim_totals.distance %></p>
                        <p class='stats'>miles</p>
                    </div> 
                    
            </div>
        </div>     
    </div>
</section>



