nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: center;
	color: #44545E;
}
h1 {
  color: black;
}

h1, h2, h3, h4 {
	font-weight: 600;
}

.vertical-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
}

header {
	background-image: url('../images/1600.jpg');
	background-attachment: fixed;
	height: 100vh;
}

