nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: center;
	color: #44545E;
	/* line-height: 3em; */
}
h1 {
  color: #44545E;
}

h1, h2, h3, h4 {
	font-weight: 600;
}



.vertical-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
}

header {
	background-image: url('../images/1600.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: auto;
}

.profile {
	background-image: url('../images/oceanLight.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	
}

.profileHeader {
background-color: white;
font-family:'Roboto', sans-serif;
font-style: italic;
font-size: 2em;
font-weight: bold;
width: 300px;
height: 100px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
background: white;
text-align:center;
color:black;
font-size:20px;
line-height:5.2;
margin:0 auto;
margin-top: 1em;
}

.skew-title{
	transform: skew(20deg); 
	display: block;	
	color: #44545E
}

.margin-top span{
	margin-top: 20px;
}

.stats {
	
	font-size: 1.5em;
	margin: 0px;
	padding: 0px;
}

.dataLg{
	font-size: 4.0em;
	color: white;
	font-weight: bold;
	margin: 0px;
}

p {
	margin: 0;
	font-weight: bold;
	color: white;
}


.pr-header{
	margin-top: 2em;
	line-height: normal;
}

.pr {
	margin: 0px;
	line-height: normal;
}

.profileImage{
	margin-bottom: 5em;
}

.profile-pic {
	width: 100px;
    height: 100px;
	border-radius: 50%;
	margin-top: 1em;
}



profileDetails {
	line-height: 2px;
}

button {
	margin: 1em;
}

.collection p {
	color: black;
	font-style: normal;
}

@media (max-width: 1097px) {
	h3 {
		display: none; 
	}

	.collection {
		display: none;
	}
}